.form-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto 1fr;
    animation-duration: 2s;
    animation-name: enter;
    justify-content: center;
    align-items: center;
    padding: 50px 10px;
    margin: 0 50px;
}

.image-input-container {
    width: 300px;
    height: 300px;
    position: relative;
}

.image-info {
    visibility: hidden;
    color: black;
    background: lightblue;
    border-radius: 10px;
    padding: 5px;
    position: relative;
    top: -10%;
    z-index: 2;
}

.image-input-container:hover .image-info {
    visibility: visible;
}

.user-form-button-save-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 500px) {
    .form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 450px) {
    .image-input-container {
        width: 250px;
        height: 250px;
    }

    .image-loaded {
        width: 250px;
        height: 250px;
    }

    .img-container {
        min-height: 0;
        min-width: 0;
    }
}

@media (max-width: 300px) {
    .image-input-container {
        width: 200px;
        height: 200px;
    }

    .image-loaded {
        width: 200px;
        height: 200px;
    }

    .img-container {
        min-height: 0;
        min-width: 0;
    }
}
